.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.disabled {
  pointer-events: none;

  .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
  }

  &:hover {
    background-color: transparent;
    cursor: default;
  }
}