.selected {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgb(75, 74, 74);
}

.arrow {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.disabled {
  pointer-events: none;
  background-color: rgba(36, 36, 36, 0.3);
}

@media (max-width: 639.99px) {
  .page-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.7rem;

    svg {
      width: 1.05rem;
      height: 1.05rem;
    }
  }
}
