.selected {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgb(75, 74, 74);
}

.arrow {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.disabled {
  pointer-events: none;
  background-color: rgba(36, 36, 36, 0.3);
}
